body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("http://www.publicdomainpictures.net/pictures/190000/velka/paper-background-1468572901ne1.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
}


h1 {
    color: maroon;
    margin-left: 40px;
}
